
<ion-header>
  <ion-navbar color="them">
    <button ion-button menuToggle>
      <ion-icon name="menu"> </ion-icon>
    </button>
    <ion-title>Entregas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="titulo">Entregas Pendientes</h2>
  <ion-card *ngFor="let d of deliver">
    <!-- <div  #map id="map" style="width: auto; height: 200px;"></div> -->
    <ion-item>
      <ion-thumbnail item-start>
				<img src="assets/imgs/house.png">
			</ion-thumbnail>
      <h2>{{d.datos.cliente}}</h2>
      <p>{{d.datos.calle}} {{d.datos.numero}} {{d.datos.colonia}} </p>
      <p>{{d.datos.telefono}}</p>
      <button ion-button clear item-end (click)="goToPage(d)">Comenzar</button>
    </ion-item>
  </ion-card>

      <ion-card *ngIf="flag">
        <ion-card-title class="titulo">No Hay Entregas</ion-card-title>
        <img src="assets/imgs/not.png" class="init">
      </ion-card>


</ion-content>
